
body {
	padding-top: 71px;
}


/************* DIAPORAMA *******************/

.glyphicon-menu-left {
	padding-top: 305px;
}

.glyphicon-menu-right{
	padding-top: 305px;
}

/*balise contenant les images de chaque 
  slide du diaporama*/
.carousel-inner {
	padding-left: 0;
}

/*Réglage des flèches*/
.carousel-control {
	position: absolute;
	margin-top: 79px;
	margin-bottom: 234px;
	width: 15%;
	font-size: 50px;        /*taille des flèches*/
	color: white;           /*couleur des flèches*/
	text-align: center;     /*alignement des flèches*/
	opacity: 1;
	text-decoration: none;
}

.carousel-control:hover,
.carousel-control:focus {
	color: #F2F2F2;
	text-decoration: none;
	opacity: 1;
}

/*Grandes flèches*/
.carousel-control.right {
	left: auto;
	background-image: none;
	filter: none;
}

.carousel-control.left {
	background-image: none;
	filter: none;
}

.diapo {
	width: 100%;
	padding-left: 0;
	padding-right: 0;
}

.carousel-caption h1 {
	color: white;
	padding-bottom: 15px;
	padding-top: 1px;
	font-size: 80px;
	text-align: center;
	font-weight: bold;
}

.carousel-caption p {
	font-weight: avenir light;
	font-size: 30px;
	color: white;
	
}

.carousel-caption {
	padding-bottom: 300px;
}

/********Indicateurs des photos du diaporama************/

.carousel-indicators {
	bottom: 10px;
	left: 50%;
}

.carousel-indicators li {
  width: 7px;
  height: 7px;
  margin: 5px;
  cursor: pointer;
  background-color: #F2F2F2;
  border: 1px solid #fff;
  border-radius: 10px;
}

.carousel-indicators .active {
  width: 7px;
  height: 7px;
  margin: 5px;
  background-color: #FFFFFF;
}

/*********FIN DU DIAPORAMA*******************/


/*********Barre de navigation***************/

.navbar{
	margin-bottom: 50px;
}

.navbar-default {
	background-color: white;
}

.menu {
	background-color: white;
}

/* style de la barre de navigation */
.navbar-default .navbar-nav > li > a {
	margin-top: 10px;
	margin-bottom: 10px;
	color: #278085;
	font-family: Raleway;
	font-size: 33px;
	text-align: center;
}

/* lorsqu'on passe la souris sur l'un des titres */
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus 
{
	color: #B5EAEC;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus 
{
	color: #B5EAEC;
	background-color: white;
}

/* logo présent sur la barre de navigation */
.navbar-brand {
	margin-top: 10px;
	padding-right: 35px;
	font-size: 35px;
	font-weight: bold;
}

.navbar-default .navbar-brand {
  color: #B5EAEC;
}

/* style lorsqu'on déroule la barre de navigation */
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
	color: #278085;
    background-color: white;
	font-size: 25px;
	font-family: Raleway;
	text-align: left;
}

/* lorsqu'on passe la souris sur l'un des titres du menu déroulant */  
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
	color: #B5EAEC;
}

/* lorsqu'on déroule le menu, le titre de la page sur laquelle on se trouve 
   est de cette couleur */
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
	color: #B5EAEC;
}

.navbar-default .navbar-nav .open .dropdown-menu {
	margin-left: -30px;
}


/******* Section destination de la page d'accueil *****/

.mosaiqueDest{
	text-align : center;
}

.colonneDest {
	margin-top : 25px;
	margin-bottom : 20px;
	padding : 5px;
}

.activitébackground{
	margin-top:5%;
	background-color : white;
	width:95%;
	color: #278085;
	padding:2%;
	padding-bottom : 0;
}

.activitébackground p{
	font-size: 130%;
	padding-top : 8px;
	padding-bottom: 8px;
}

.activitébackground img{
	width:100%;
}


/************ BANDE BLANCHE DE SEPARATION ******/

.bandeBlanche{
	padding: 1% 0%;
}

h3 {
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family:Raleway;
  color: #278085;
}


/*********** VIDEO YOUTUBE**************/

.vidéo {
	padding-top: 40px;
	padding-bottom:40px;
}


/*********** LES AVIS ***********/

.background{
	margin-top:7%;
	margin-left:10%;
	background-color : white;
	width:80%;
	color: #278085;
	padding:5% 7%;
	font-family:Baskerville;
}

.contenuavis{
	font-size:21px;
}

.nomavis{
	padding-top:10%;
	font-size:18px;
}

.colonne{
	text-align:center;
}


/************** Footer *****************/

.footer{
	margin-top:1%;
	text-align:center;
}

footer{
	height:15%;
	font-family:Raleway;
	color: white;
	background-color: #436CA8;
}

.icone{
	padding-top:2%;
}

.follow{
	padding-top:1%;
}

.hautPage {
	height:21%;
	width: 100%;
	background-color: #2D4870;
}

.glyphicon-menu-up {
	padding-top: 9px;
	color: red;
	font-size: 40px;
}

.colonneTexte1{
	color: white;
	font-size: 27px;
	font-family:Raleway;
}

.colonneTexte2{
	color: black;
	font-size: 18px;
	font-family:Raleway;
}






/***********MEDIA QUERIES**************/

@media screen and (max-width : 1480px){
	
	.carousel-control {
		margin-top: 39px;
		margin-bottom: 274px;
		width: 15%;
	}
	
	.carousel-caption h1 {
		font-size: 75px;
	}

	.carousel-caption p {
		font-size: 28px;
	}

	.carousel-caption {
		padding-bottom: 200px;
	}
	
}

@media screen and (max-width : 1080px){
	
	.carousel-control {
		margin-top: -60px;
		width: 15%;
	}
	
	.carousel-caption h1 {
		font-size: 75px;
	}

	.carousel-caption p {
		font-size: 28px;
	}

	.carousel-caption {
		padding-bottom: 110px;
	}
	
}

@media all and (max-width: 991px){ 
    
	footer{
        height:38%;
    }
	
	.img-2 {
		min-height: 80px;
	}
}

@media screen and (min-width: 990px) and (max-width: 1200px){
	
	.navbar-brand {
		padding-right: 10px;
		font-size: 25px;
	}
	
	.navbar-default .navbar-nav > li > a {
		font-size: 26px;
	}
	
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		font-size: 20px;
	}
	
	.navbar-default .navbar-nav .open .dropdown-menu {
		margin-left: -23px;
	}
}

@media screen and (min-width: 768px) and (max-width: 991px) {
	
	.navbar-brand {
		padding-left: 0px;
		padding-right: 0px;
		font-size: 14px;
	}
	
	.navbar-default .navbar-nav > li > a {
		font-size: 21px;
	}
	
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		font-size: 19px;
	}
	
	.navbar-default .navbar-nav .open .dropdown-menu {
		margin-left: -33px;
	}
	
}

@media screen and (max-width: 767px) {
	
	body {
		padding-top: 52px;
	}
	
	.navbar-brand {
		margin-top: 1px;
		padding-left: 18px;
		font-size: 27px;
	}
	
	.navbar-default .navbar-nav > li > a {
		text-align: center;
		font-size: 28px;
	}
	
	/* menu déroulant */
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
		background-color: #F2F2F2;
	}
	
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		font-size: 25px;
		background-color: #F2F2F2;
	}
		
	.navbar-default .navbar-nav .open .dropdown-menu {
		background-color: #F2F2F2;
	}/* fin menu déroulant */
	
	
	.carousel-caption h1 {
		font-size: 29px;
	}

	.carousel-caption p {
		font-size: 14px;
	}

	.carousel-caption {
		padding-bottom: 90px;
	}
	
	.carousel-control {
		margin-top: -100px;
		width: 15%;
		font-size: 30px; 
	}
	
}

@media screen and (max-width: 567px) {
	
	.carousel-caption h1 {
		padding-bottom: 8px;
	}

	.carousel-caption {
		padding-bottom: 30px;
	}
	
	.carousel-control {
		margin-top: -140px;
		width: 15%;
	}
	
}

@media all and (max-width: 500px)
{
    .follow{
        margin-top:5%;
    }
	
	.contact{
		padding-top:5%;
	}
	
	.video{
		margin-top:7%;
	}
}

@media screen and (max-width: 367px) {
	
	.carousel-caption h1 {
		padding-bottom: 1px;
		font-size : 25px;
	}
	
	.carousel-caption {
		padding-bottom: 10px;
	}
	
	.carousel-control {
		margin-top: -200px;
	}
	
	.carousel-indicators {
		bottom: 0px;
	}
	
}

