
body {
	background-image: url(./images/fondMexique.jpg);
	background-size: cover;
}


/**********Section de la page mexique******************/

.container{
	margin-top: 25px;
	margin-bottom: 25px;
	width : 85%;
	height : auto;
	background-color: #B5EAEC;
	opacity: 0.96;
}


/**********Titre de la page****************************/

.titrePage h1 {
	color: #278085;
	text-align: center;
	font-size: 45px;
	font-family: Raleway;
	font-weight: bold;
}


/**********Introduction à la page**********************/

.intro{
	background-color : #F2F2F2;
	width : 92%;
	margin-bottom: 35px;
	padding: 0;
}

.intro img{
	width:100%;
	
	float : left;
}

#texteIntro h1{
	font-size: 25px;
	font-family: Raleway;
	color: #278085;
	text-align: center;
}

#texteIntro p{
	margin-top: 35px;
	font-size: 16px;
	font-family: Raleway;
	text-align: center;
	color: #278085;
	margin-left: 30px;
}


/**********Activités de la page****************/

.activité {
	width: 92%;
}

.activité p{
	font-size: 15px;
	font-family: Raleway;
	color: #278085;
	margin-left: 10px;
	margin-top: 10px;
	text-align: left;
	font-weight: normal;
}

.colonne1 {
	background-color: #F2F2F2;
	padding: 0;	
	margin-left : 20%;
	width : 60%;
}

.colonne1 h1 {
	font-size: 30px;
	font-family: Raleway;
	color: #278085;
	text-align: center;
}

.colonne1 h2 {
	margin-top: 10px;
	font-size: 25px;
	font-family: Raleway;
	font-weight: normal;
	color: #278085;
	margin-bottom: 25px;
	text-align: center;
}



.colonne2 {
	background-color: #F2F2F2;
	padding: 0;
}

.colonne2 h1 {
	font-size: 30px;
	font-family: Raleway;
	color: #278085;
	text-align: center;
}

.colonne2 h2 {
	margin-top: 10px;
	font-size: 25px;
	font-family: Raleway;
	font-weight: normal;
	color: #278085;
	margin-bottom: 25px;
	text-align: center;
}

.activité img{
	width:100%;
}


/****************MEDIA QUERIES*****************/

/*
@media screen and (min-width: 500px) and (max-width: 768px)
{
	.activité img {
		width: 55%;
	}
	
}
*/




