*{
	transition : 0.5s all;

}

/*parallax*/
.effetParalax {
  margin-bottom: 100px;
  background: url(../images/effetParallax.jpg) no-repeat fixed; /*pour que la photo puisse bouger quand on scrole*/
  background-size: cover; /*pour que sa prenne la longeur de la page*/
  padding-top: 250px;
  padding-bottom: 100px;
  height : 700px;
}

/*A PROPOS */

body{
    background-color: #B5EAEC; 
    color: #278085; 
	margin-top : 5%;
}


.cadre {
	background-color : white;
	width : 60%;
	margin-left :18%;
	padding-left: 2%;
	padding-right:2%;
	padding-top :30px;
	padding-bottom:30px;
	text-align :center;
	margin-top : -50px;
	
}

.cadreP{
	background-color : white;
	width : 18%;
	padding-left: 2%;
	display:table-cell;
	display:inline-table;
	margin-left : 1.5%;
	}


.logo{
	width :85%;	
	margin-left: 7%;
	margin-top :8%;
}

.photo{
	height : 150px; /*hauteur*/
	width : auto; /*largeur*/
	margin-left: auto;
	margin-right: auto;
    display: block;
}

.cadreBordure{
	height : 150px;
	margin-top : 10%;
	width : 90%;
	background-color : #2a6ba3;
	margin-bottom : 5%;
}
.equipe{
	width :100% ;
	padding-left :15%;
	margin-bottom : 30px ;
}


.nom{
	text-align :center;
}
h1{
	text-align : center;
	font-weight:normal;
}

p{
	text-align: center;
}

.cadretitre {
	font-family : fertigo-pro;
}

.cadretitre h1{
	font-weight : bold;
}

.trait{
		visibility : hidden;
	}

/*Pour le retrecissement de la page.*/
@media screen and (max-width: 1024px){
   	.pageApropos{
		height : auto;
		width : 50%;
		margin-left : 10%;
	}
	
	
	.effetParalax{
        height : 1000px;
    }
	
	h1, p, h2, h3{
		font-size : medium;
	}
	
	.cadre{
		text-align :center;
	}
	
	.cadreP{
		height : auto;
		width : auto;
		margin-left : 20%;
		
		
	}
	.cadretitre{
		width : auto;
		margin-left : 5%;
	}
	
	.logo{
		width : 50%;
		margin-left: 27%;;
	}
	.trait{
		visibility : visible;
		width : 60%;
		margin-left: 20%;
		color : #2a6ba3;
	}
	.equipe{
	margin-left : -18%;
	}
	.cadreBordure{
		margin-left : 3.5%;
	}
}
	
