body {
	background-color: #B5EAEC;
	width: 100%;
	padding-top: 79px;
}


/*********Barre de navigation***************/

.navbar{
	margin-bottom: 50px;
}

.navbar-default {
	background-color: white;
}

.menu {
	background-color: white;
}

/* style de la barre de navigation */
.navbar-default .navbar-nav > li > a {
	margin-top: 10px;
	margin-bottom: 10px;
	color: #278085;
	font-family: Raleway;
	font-size: 33px;
	text-align: center;
}

/* lorsqu'on passe la souris sur l'un des titres */
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus 
{
	color: #B5EAEC;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus 
{
	color: #B5EAEC;
	background-color: white;
}

/* logo présent sur la barre de navigation */
.navbar-brand {
	margin-top: 10px;
	padding-right: 35px;
	font-size: 35px;
	font-weight: bold;
}

.navbar-default .navbar-brand {
  color: #B5EAEC;
}

/* style lorsqu'on déroule la barre de navigation */
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
	color: #278085;
    background-color: white;
	font-size: 25px;
	font-family: Raleway;
	text-align: left;
}

/* lorsqu'on passe la souris sur l'un des titres du menu déroulant */  
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
	color: #B5EAEC;
}

/* lorsqu'on déroule le menu, le titre de la page sur laquelle on se trouve 
   est de cette couleur */
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
	color: #B5EAEC;
}

.navbar-default .navbar-nav .open .dropdown-menu {
	margin-left: -30px;
}


/**********Titre de la page****************************/

.titrePage h1 {
	color: #278085;
	text-align: center;
	font-size: 45px;
	font-family: Raleway;
	font-weight: bold;
	margin-bottom: 20px;
}

/******** Carte *************/ 

.page{
	text-align : center;
	padding : 0;
	margin-top: 25px;
	margin-bottom: 35px;
	padding-bottom: 35px;
	width : 85%;
	height : auto;
	background-color: #F2F2F2;
	opacity: 0.96;
	/*min-width : 900px;*/
}

#world {
	width : 91%;
	/*height : 700px;*/
	margin : 0;
	border : 2px white solid;
	border-radius : 5px;
	background-color : lightblue;
	text-align : center;
	visibility:visible;
}

h1 i{
	font-size: 100%;
}


/*************** MEDIA QUERIES *****************/

@media screen and (min-width: 900px) and (max-width: 1200px){

	.page{
		width :80%;
		text-align : center;
	}

	#world{
		width : 80%;
		margin : auto;
		padding : 0;
	}
}


@media screen and (min-width: 990px) and (max-width: 1200px){
	
	.navbar-brand {
		padding-right: 10px;
		font-size: 25px;
	}
	
	.navbar-default .navbar-nav > li > a {
		font-size: 26px;
	}
	
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		font-size: 20px;
	}
	
	.navbar-default .navbar-nav .open .dropdown-menu {
		margin-left: -23px;
	}
}

@media screen and (min-width: 768px) and (max-width: 991px) {
	
	.navbar-brand {
		padding-left: 0px;
		padding-right: 0px;
		font-size: 14px;
	}
	
	.navbar-default .navbar-nav > li > a {
		font-size: 21px;
	}
	
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		font-size: 19px;
	}
	
	.navbar-default .navbar-nav .open .dropdown-menu {
		margin-left: -33px;
	}
}

@media screen and (max-width: 767px) {
	
	.navbar-brand {
		margin-top: 1px;
		padding-left: 18px;
		font-size: 27px;
	}
	
	.navbar-default .navbar-nav > li > a {
		text-align: center;
		font-size: 28px;
	}
	
	/* menu déroulant */
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
		background-color: #F2F2F2;
	}
	
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		font-size: 25px;
		background-color: #F2F2F2;
	}
		
	.navbar-default .navbar-nav .open .dropdown-menu {
		background-color: #F2F2F2;
	}/* fin menu déroulant */
	
}



#mexique{
	onclick="document.location = '../mexique.html'";
}







